---
import { Image } from 'astro:assets';

type Props = {
	title: string;
	image: {
		src: string;
		width: number;
		height: number;
		format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif';
	};
	alt: string;
	video?: string;
	date: Date;
	previous?: string;
	next?: string;
};

const { title, image, alt, video, date, previous, next } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en-US', {
	timeZone: 'UTC',
	dateStyle: 'medium',
}).format(date);
---

<main>
	<figure>
		<figcaption>{title}</figcaption>
		{
			video ? (
				<video controls width={550} height={550}>
					<source src={video} />
				</video>
			) : (
				<Image
					src={image}
					alt={alt}
					width={550}
					height={550}
					loading='eager'
					quality='max'
				/>
			)
		}
	</figure>
	<div class='links'>
		<span class='left'>
			{previous && <a href={previous}>previous</a>}
		</span>
		<time>{formattedDate}</time>
		<span class='right'>
			{next && <a href={next}>next</a>}
		</span>
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
		font-family: 'Grandstander Variable', system-ui;
		margin: 0 auto;
		width: fit-content;
		padding: 0 1rem;
	}

	figcaption {
		font-size: 1.5rem; /* 24px */
		line-height: 2rem; /* 32px */
	}

	@media (min-width: 425px) {
		figcaption {
			font-size: 1.875rem; /* 30px */
			line-height: 2.25rem; /* 36px */
		}
	}

	figure {
		font-family: 'Shantell Sans Variable';
		text-align: center;
	}

	figure > :first-child {
		margin-bottom: 0.25rem;
	}

	img,
	video {
		height: auto;
	}

	.links {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 0.5rem;
	}

	.right {
		text-align: right;
	}

	.left,
	.right {
		flex-grow: 1;
		flex-basis: 0;
	}
</style>
