---
import { Image } from 'astro:assets';

type Props = {
	title: string;
	image: {
		src: string;
		width: number;
		height: number;
		format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif';
	};
	alt: string;
	date: Date;
	previous?: string;
	next?: string;
};

const { title, image, alt, date, previous, next } = Astro.props;
---

<main>
	<h2 class='text-3xl'>{title}</h2>
	<div class='comic'>
		<Image src={image} alt={alt} width={600} height={600} />
		<div class='links'>
			<span class='left'>
				{previous && <a href={previous}>previous</a>}
			</span>
			<time>{date.toLocaleDateString()}</time>
			<span class='right'>
				{next && <a href={next}>next</a>}
			</span>
		</div>
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
		font-family: 'Grandstander Variable', system-ui;
	}

	h2 {
		font-family: 'Shantell Sans Variable';
		text-align: center;
	}

	img {
		display: relative;
		max-width: 100%;
		height: auto;
	}

	.comic {
		margin: 0 0.75rem 1rem;
	}

	.links {
		display: flex;
		justify-content: space-between;
		padding: 0.25rem 0.5rem 0rem 0.5rem;
	}

	.left {
		text-align: start;
	}

	.right {
		text-align: right;
	}

	.left,
	.right {
		flex-grow: 1;
		flex-basis: 0;
	}
</style>
