---
import { Image } from 'astro:assets';

type Props = {
	title: string;
	image: {
		src: string;
		width: number;
		height: number;
		format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif';
	};
	alt: string;
	date: Date;
	previous?: string;
	next?: string;
};

const { title, image, alt, date, previous, next } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en-US', {
	timeZone: 'UTC',
}).format(date);
---

<main>
	<figure>
		<figcaption class='text-3xl'>{title}</figcaption>
		<Image src={image} alt={alt} width={600} height={600} loading='eager' />
	</figure>
	<div class='links'>
		<span class='left'>
			{previous && <a href={previous}>previous</a>}
		</span>
		<time>{formattedDate}</time>
		<span class='right'>
			{next && <a href={next}>next</a>}
		</span>
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
		font-family: 'Grandstander Variable', system-ui;
		margin: 0 auto;
		width: fit-content;
		padding: 0 1rem;
	}

	figure {
		font-family: 'Shantell Sans Variable';
		text-align: center;
	}

	figure > :first-child {
		margin-bottom: 0.25rem;
	}

	img {
		height: auto;
	}

	.links {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 0.5rem;
	}

	.right {
		text-align: right;
	}

	.left,
	.right {
		flex-grow: 1;
		flex-basis: 0;
	}
</style>
